.stats {
  display: flex;
}

.stat {
  padding-left: $spacing-md;
  text-align: center;

  &:not(:last-child) {
    border-right: 2px solid $color-ultra-light-gray;
    padding-right: $spacing-md;
  }

  &__number {
    font-size: 20px;
  }

  &__text {
    color: $color-light-gray;
    font-size: 12px;
    text-transform: uppercase;
  }
}
