* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 14px;
}

body {
  background: #f4f4f8;
  color: $color-dark-gray;
  font-family: $font;
  padding-bottom: $spacing-md;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}
