$radius-sm: 5px;
$radius-lg: 20px;

$breakpoint-sm: 540px;
$breakpoint-md: 720px;
$breakpoint-lg: 960px;

$color-background: #f4f4f8;
$color-gray: #66666a;
$color-dark-gray: #333337;
$color-light-gray: #99999d;
$color-ultra-light-gray: #eeeef2;

$font: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$spacing-md: 30px;
$spacing-sm: 15px;
