.post {
  @include rounded();

  background-color: #fff;
  box-shadow: var(--shadow);
  max-width: 640px;
  width: 100%;

  &--placeholder {
    animation: post-placeholder-animation 1s ease-in-out infinite;
    animation-direction: alternate;
    border: 0;
    opacity: 0;

    .post__header,
    .post__footer {
      visibility: hidden;
    }
  }

  &:not(:last-child) {
    margin-bottom: var(--spacing-md);
  }

  &__header {
    align-items: center;
    display: flex;
    padding: var(--spacing-md);
  }

  &__profile {
    margin-right: $spacing-sm;
  }

  &__user {
    color: $color-dark-gray;
    font-weight: 600;
    text-decoration: none;
  }

  &__time {
    color: $color-light-gray;
    margin-left: auto;
    text-decoration: none;
  }

  &__body {
    color: #fff;
    position: relative;

    &::before {
      content: '';
      display: block;
      padding-top: 40%;
    }
  }

  &__content {
    align-items: center;
    bottom: 0;
    display: flex;
    left: 0;
    line-height: 1;
    justify-content: center;
    padding: $spacing-md;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    right: 0;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-md);
  }

  &__menu-toggle {
    transition: transform 0.1s ease-in;

    &--open {
      transform: rotate(90deg);
    }
  }
}

@keyframes post-placeholder-animation {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
