.post {
  @include rounded();

  background-color: #fff;
  box-shadow: var(--shadow);
  max-width: 640px;
  width: 100%;

  &--placeholder {
    animation: post-placeholder-animation 0.6s ease-in-out infinite;
    animation-direction: alternate;
    border: 0;
    opacity: 0;

    .post__header,
    .post__footer {
      visibility: hidden;
    }
  }

  &:not(:last-child) {
    margin-bottom: var(--spacing-md);
  }

  &__header {
    align-items: center;
    display: flex;
    padding: var(--spacing-md);
  }

  &__profile {
    margin-right: $spacing-sm;
  }

  &__user {
    color: $color-dark-gray;
    font-weight: 600;
    text-decoration: none;
  }

  &__time {
    color: $color-light-gray;
    margin-left: auto;
    text-decoration: none;
  }

  &__comments {
    border-bottom: 1px solid $color-ultra-light-gray;
    padding: var(--spacing-md);
  }

  &__footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-md);
  }

  &__comment {
    flex: 1 1 auto;
    margin-right: var(--spacing-md);
  }

  &__like {
    flex: 0 0 auto;
    margin-right: var(--spacing-sm);
  }

  &__menu-toggle {
    transition: transform 0.1s ease-in;

    &--open {
      transform: rotate(90deg);
    }
  }
}

@keyframes post-placeholder-animation {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.6;
  }
}
