.like {
  align-items: center;
  color: $color-light-gray;
  display: flex;

  &__icon {
    cursor: pointer;
    height: 22px;
    margin-right: $spacing-sm;
    width: 24px;
  }

  &--liked {
    .like__icon {
      animation: heart-animation 0.5s;
    }
  }
}

@keyframes heart-animation {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.2);
  }

  30% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
