.like {
  align-items: center;
  color: $color-light-gray;
  display: flex;

  &__icon {
    background-image: url('../../assets/like.png');
    background-size: 24px 22px;
    cursor: pointer;
    height: 22px;
    margin-right: $spacing-sm;
    width: 24px;
  }

  &--liked {
    .like__icon {
      animation: heart-animation 0.5s;
      background-image: url('../../assets/like--active.png');
    }
  }
}

@keyframes heart-animation {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.2);
  }

  30% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
