.profile {
  align-items: center;
  display: flex;
  padding: $spacing-md 0;

  &__user {
    font-size: 30px;
    font-weight: 600;
    margin-left: $spacing-md;
  }

  &__name {
    margin-bottom: $spacing-sm;
  }

  &__buttons > * {
    margin-right: $spacing-sm;
  }

  &__stats {
    margin-left: auto;
  }
}

.profile-posts {
  border-top: 1px solid $color-ultra-light-gray;
  padding: $spacing-md 0;
}
