.header-container {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  &__shadow {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }

  &--with-composer {
    animation: header-background-fade 4s forwards ease-out;
    background-color: transparent;
    bottom: 0;
  }
}

.header {
  background-color: var(--header-background-color);
  height: var(--header-height);

  &__new-post {
    margin-left: auto;
  }

  &__profile {
    display: none;

    @include breakpoint($breakpoint-sm) {
      display: flex;
      margin-left: var(--spacing-md);
    }
  }
}

.navbar {
  display: flex;
  height: 100%;
}

.logo {
  display: block;
  height: 24px;
}

@keyframes header-background-fade {
  0% {
    background-color: transparentize($color-dark-gray, 1);
  }

  100% {
    background-color: transparentize($color-dark-gray, 0.5);
  }
}
