.header-container {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  &__shadow {
    box-shadow: var(--shadow);
  }

  &--with-composer {
    animation: header-background-fade 4s forwards ease-out;
    background-color: transparent;
    bottom: 0;
  }
}

.header {
  background-color: var(--header-background-color);
  height: var(--header-height);

  &__logo {
    position: relative;

    img {
      display: block;
      height: 24px;
    }

    &::after {
      color: $color-light-gray;
      content: 'beta';
      font-size: 0.6rem;
      left: 0;
      margin-top: 10px;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      top: 50%;
      right: 0;
    }
  }

  &__users {
    display: none;

    @include breakpoint($breakpoint-sm) {
      display: flex;
    }
  }

  &__new-post {
    margin-left: auto;
  }

  &__profile {
    display: none;

    @include breakpoint($breakpoint-sm) {
      display: flex;
      margin-left: var(--spacing-md);
    }
  }
}

.navbar {
  display: flex;
  height: 100%;

  &__item {
    margin-right: var(--spacing-md);
  }
}

@keyframes header-background-fade {
  0% {
    background-color: transparentize($color-dark-gray, 1);
  }

  100% {
    background-color: transparentize($color-dark-gray, 0.5);
  }
}
