.welcome {
  align-items: center;
  background-image: linear-gradient(45deg, #30cfd0, #330867);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: calc(var(--header-height) * -1);
  padding: calc(var(--header-height) * 2) 0;
  justify-content: flex-start;

  &__heading {
    margin-bottom: $spacing-md;
  }

  &__logo {
    display: block;
    width: 200px;
  }

  &__tagline {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: $spacing-md;
    text-align: center;

    @include breakpoint($breakpoint-md) {
      font-size: 3rem;
    }
  }
}
