.header-container {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  &--with-composer {
    animation: header-background-fade 4s forwards ease-out;
    background-color: transparent;
    bottom: 0;
  }
}

.header {
  background-color: rgba(255, 255, 255, 0.96);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;

  &__profile {
    border-radius: 50%;
    display: block;
    height: 40px;
    width: 40px;
  }
}

.logo {
  display: block;
  height: 24px;
}

@keyframes header-background-fade {
  0% {
    background-color: transparentize($color-dark-gray, 1);
  }

  100% {
    background-color: transparentize($color-dark-gray, 0.5);
  }
}
