$color-transparent-white: rgba(0, 0, 0, 0.1);

.sign-in-up {
  background-color: #fff;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow);
  margin: 0 auto;
  max-width: 400px;

  &__tabs {
    display: flex;
  }

  &__tab {
    border-color: transparent;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 2px;
    flex: 1 1 0;
    height: 50px;
    text-align: center;

    &--active {
      border-color: $color-dark-gray;
    }
  }

  &__panel {
    padding: var(--spacing-md);
  }

  &__button {
    border: 0;
    width: 100%;

    &--twitter {
      border-color: #1da1f2;
      color: #1da1f2;
      width: 100%;

      &:not(:disabled):hover {
        background-color: #1da1f2;
      }
    }
  }

  &__link {
    color: #fff;
    margin-top: var(--spacing-md);
    text-align: center;
    text-decoration: none;
  }
}
