.welcome {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;

  &__content {
    bottom: -30px;
    left: -30px;
    opacity: 0.4;
    position: absolute;
    right: -30px;
    top: -30px;
  }

  &__item {
    float: left;
    position: relative;
    width: 33.33%;

    @include breakpoint($breakpoint-md) {
      width: 16.66%;
    }

    &::after {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  &__post {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.welcome-form {
  left: 0;
  padding: var(--spacing-responsive-md);
  position: absolute;
  top: calc(var(--header-height) * 2 - var(--spacing-responsive-md));
  width: 100%;
}
