.post {
  @include rounded();

  background-color: #fff;
  border: 1px solid #eee;
  max-width: 600px;
  width: 100%;

  &--placeholder {
    animation: post-placeholder-animation 1s ease-in-out infinite;
    animation-direction: alternate;
    border: 0;
    opacity: 0;

    .post__header,
    .post__footer {
      visibility: hidden;
    }
  }

  &:not(:last-child) {
    margin-bottom: $spacing-md;
  }

  &__header {
    align-items: center;
    display: flex;
    padding: $spacing-md;
  }

  &__profile {
    margin-right: $spacing-sm;
  }

  &__user {
    color: $color-dark-gray;
    font-weight: 600;
    text-decoration: none;
  }

  &__time {
    color: $color-light-gray;
    margin-left: auto;
  }

  &__body {
    align-items: center;
    color: #fff;
    display: flex;
    height: 200px;
    line-height: 1;
    justify-content: center;
    overflow: hidden;
    padding: $spacing-md;
  }

  &__content {
    opacity: 0;
  }

  &__footer {
    padding: $spacing-md;
  }

  &--ready {
    .post__content {
      animation: post-content-fade-in 1s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes post-placeholder-animation {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes post-content-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
