.post {
  @include rounded();

  background-color: #fff;
  border: 1px solid #eee;
  max-width: 600px;
  width: 100%;

  &:not(:last-child) {
    margin-bottom: $spacing-md;
  }

  &__header {
    align-items: center;
    display: flex;
    padding: $spacing-md;
  }

  &__profile {
    border-radius: 50%;
    height: 40px;
    margin-right: $spacing-sm;
    width: 40px;
  }

  &__user {
    font-weight: 600;
  }

  &__time {
    color: $color-light-gray;
    margin-left: auto;
  }

  &__body {
    align-items: center;
    background-color: #eee;
    color: #fff;
    display: flex;
    height: 200px;
    justify-content: center;
    padding: $spacing-md;
  }

  &__content {
    line-height: 1;
  }

  &__footer {
    padding: $spacing-md;
  }

  &__likes {
    color: $color-light-gray;
  }
}
