.profile-photo {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  height: 160px;
  width: 160px;

  &:hover {
    .profile-photo__upload {
      visibility: visible;
    }
  }

  &--small {
    height: 40px;
    width: 40px;
  }

  &__upload {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    line-height: 1;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    visibility: hidden;
  }

  &__file-input {
    bottom: 0;
    display: block;
    cursor: pointer;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__image {
    display: block;
    height: 100%;
    width: 100%;
  }
}
