.user-list {
  margin: 0 auto;
  max-width: 640px;

  &__row {
    display: flex;
  }

  &__user {
    align-items: center;
    display: flex;
    margin-right: auto;
    padding-right: var(--spacing-sm);
  }

  &__username {
    margin-left: var(--spacing-sm);
    text-decoration: none;
    word-break: break-all;
  }
}
