.composer {
  animation: composer-slide 0.5s ease-in-out;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;

  & > * {
    flex: 0 0 auto;
  }

  &__input {
    border: 0;
    border-bottom: 1px solid #eee;
    color: #fff;
    font-family: $font;
    font-size: 3rem;
    outline: none;
    margin-bottom: $spacing-sm;
    padding: $spacing-md;
    text-align: center;
    width: 100%;

    &::-webkit-input-placeholder {
      color: #fff;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    padding-bottom: $spacing-md;
    padding-top: $spacing-sm;

    & > * {
      width: 100px;

      &:not(:last-child) {
        margin-right: $spacing-sm;
      }
    }
  }
}

@keyframes composer-slide {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 500px;
  }
}
