.post-body {
  color: #fff;
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: 40%;
  }

  &__content {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    line-height: 1;
    padding: $spacing-md;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
  }
}
