.stats {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &::after,
  &::before {
    content: '';
    flex: 0 0 auto;
    width: var(--spacing-sm);
  }
}

.stat {
  color: var(--color-gray);
  display: flex;
  flex: 0 0 auto;
  padding: var(--spacing-sm);
  padding-bottom: calc(var(--spacing-sm) - 2px);
  text-align: center;
  text-decoration: none;

  &:first-child {
    margin-left: auto;
  }

  &:hover {
    color: $color-dark-gray;
  }

  &:last-child {
    margin-right: auto;
  }

  &__number {
    background-color: var(--color-ultra-light-gray);
    border-radius: var(--radius-sm);
    color: var(--color-light-gray);
    margin-left: var(--spacing-sm);
    padding: 0 var(--spacing-xs);
  }

  &__text {
    text-transform: uppercase;
  }

  &--active {
    background-color: #fff;
    border-radius: var(--radius-sm);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: $color-dark-gray;
  }
}
