.stats {
  display: flex;
  justify-content: center;
}

.stat {
  text-align: center;

  &:not(:first-child) {
    padding-left: var(--spacing-sm);
  }

  &:not(:last-child) {
    border-right: 2px solid $color-ultra-light-gray;
    padding-right: var(--spacing-sm);
  }

  &__number {
    font-size: 20px;
  }

  &__text {
    color: $color-light-gray;
    font-size: 12px;
    text-transform: uppercase;
  }
}
