.profile-container {
  border-bottom: 1px solid #eee;
}

.profile {
  align-items: center;
  display: flex;
  padding: $spacing-md;

  &__photo {
    border-radius: 50%;
    height: 160px;
    width: 160px;
  }

  &__user {
    font-size: 30px;
    font-weight: 600;
    margin-left: $spacing-md;
  }

  &__name {
    margin-bottom: $spacing-sm;
  }

  &__buttons > * {
    margin-right: $spacing-sm;
  }

  &__stats {
    display: flex;
    margin-left: auto;
  }
}

.stat {
  padding-left: $spacing-md;
  text-align: center;

  &:not(:last-child) {
    border-right: 2px solid $color-light-gray;
    padding-right: $spacing-md;
  }

  &__number {
    font-size: 20px;
  }

  &__text {
    color: $color-light-gray;
    font-size: 12px;
    text-transform: uppercase;
  }
}
