.profile-container {
  border-bottom: 1px solid #eee;
  padding: $spacing-md;
}

.profile {
  align-items: center;
  display: flex;

  &__photo {
    border-radius: 50%;
    display: block;
    height: 160px;
    width: 160px;
  }

  &__user {
    font-size: 30px;
    font-weight: 600;
    margin-left: $spacing-md;
  }

  &__name {
    margin-bottom: $spacing-sm;
  }

  &__buttons > * {
    margin-right: $spacing-sm;
  }

  &__stats {
    margin-left: auto;
  }
}
