.box {
  background-color: #fff;
  border-radius: $radius-sm;
  box-shadow: var(--shadow);

  &__section {
    &--has-padding {
      padding: var(--spacing-md);
    }

    &:not(:last-child) {
      border-bottom: 1px solid $color-ultra-light-gray;
    }
  }
}
