.box {
  background-color: #fff;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow);

  &__section {
    &--has-padding {
      padding: var(--spacing-responsive-md);
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-ultra-light-gray);
    }
  }
}
