.color-picker {
  display: flex;
  overflow: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;

  &::after,
  &::before {
    content: '';
    flex: 0 0 var(--spacing-sm);
  }

  &__color {
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    flex: 0 0 40px;
    height: 40px;
    outline: none;
    position: relative;

    &--active {
      &::after {
        bottom: 2px;
        border: 2px solid #fff;
        border-radius: 50%;
        content: '';
        left: 2px;
        position: absolute;
        right: 2px;
        top: 2px;
      }
    }

    &:not(:last-child) {
      margin-right: var(--spacing-xs);
    }
  }
}
