.input {
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: var(--radius-sm);
  display: block;
  font-family: inherit;
  font-size: var(--font-size-lg);
  height: 40px;
  outline: none;
  padding: 0 var(--spacing-sm);
  width: 100%;

  &::-webkit-input-placeholder {
    color: var(--color-light-gray);
  }

  &:focus {
    border-color: var(--color-light-gray);
  }

  &--gray {
    background-color: var(--color-background);
  }

  &--none {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    height: auto;
    padding: 0;
  }
}
