.input {
  @include rounded;

  background-color: #fff;
  border: 2px solid transparent;
  display: block;
  font-family: inherit;
  font-size: var(--font-size-lg);
  height: 40px;
  outline: none;
  padding: 0 var(--spacing-sm);
  width: 100%;

  &:focus {
    border-color: $color-light-gray;
  }

  &::-webkit-input-placeholder {
    color: $color-light-gray;
  }

  &--gray {
    background-color: $color-background;
  }
}
