$color-transparent-white: rgba(255, 255, 255, 0.1);

.sign-in-up {
  margin: 0 auto;
  max-width: 400px;

  &__tabs {
    display: flex;
  }

  &__tab {
    @include rounded;

    border-color: transparent transparent $color-transparent-white transparent;
    border-style: solid;
    border-width: 1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    flex: 1 1 0;
    padding: $spacing-sm;
    text-align: center;

    &--active {
      border-color: $color-transparent-white $color-transparent-white transparent $color-transparent-white;
      color: #fff;
    }
  }

  &__panel {
    @include rounded;

    border: 1px solid $color-transparent-white;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: $spacing-md;
  }

  &__input {
    @include rounded();

    background-color: $color-transparent-white;
    border: 0;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    outline: none;
    padding: $spacing-sm;
    width: 100%;

    &::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    &--top {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin-bottom: 2px;
    }

    &--middle {
      border-radius: 0;
      margin-bottom: 2px;
    }

    &--bottom {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &__button {
    border: 0;
    margin-top: $spacing-sm;
    width: 100%;
  }

  &__link {
    color: #fff;
    margin-top: $spacing-md;
    text-align: center;
    text-decoration: none;
  }
}
