$color-gray: #666;
$color-dark-gray: #333;
$color-light-gray: #999;
$color-ultra-light-gray: #eee;

$font: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$spacing-md: 30px;
$spacing-sm: 15px;

$header-height: 80px;
