.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include breakpoint($breakpoint-md) {
    flex-direction: row;
  }

  &__photo {
    flex: 0 0 auto;
  }

  &__user {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: 600;
    margin: var(--spacing-sm) 0;

    @include breakpoint($breakpoint-md) {
      align-items: flex-start;
      flex: 0 0 auto;
      margin: 0;
      margin-left: var(--spacing-md);
    }
  }

  &__buttons {
    align-items: center;
    display: flex;

    @include breakpoint($breakpoint-md) {
      margin-left: auto;
    }

    & > *:not(:last-child) {
      margin-right: var(--spacing-sm);
    }
  }

  &__stats {
    flex: 0 0 100%;
    justify-content: center;
    margin-top: var(--spacing-responsive-md);

    @include breakpoint($breakpoint-lg) {
      flex: 0 0 auto;
      margin-left: auto;
      margin-top: 0;
    }
  }
}

.profile-body {
  padding-bottom: var(--spacing-responsive-md);

  &__tabs {
    border-bottom: 2px solid #fff;
    margin-bottom: var(--spacing-responsive-md);
  }
}
