.settings {
  border-top: 1px solid var(--color-ultra-light-gray);
  padding-bottom: var(--spacing-responsive-md);
  padding-top: var(--spacing-responsive-md);

  &__content {
    margin: 0 auto;
    max-width: 640px;
  }
}
