.color-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 500px;

  &__color {
    border-radius: 20px;
    height: 40px;
    margin: 5px;
    position: relative;
    width: 40px;

    &--active {
      &::after {
        bottom: 2px;
        border: 2px solid #fff;
        border-radius: 50%;
        content: '';
        left: 2px;
        position: absolute;
        right: 2px;
        top: 2px;
      }
    }
  }
}
