.composer-perspective {
  perspective: 400px;
}

.composer {
  align-items: center;
  animation: composer-slide 0.5s ease-in-out;
  background-color: var(--header-background-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transform-origin: top center;
  justify-content: center;

  &__input {
    border: 0;
    border-radius: 0;
    color: #fff;
    font-family: $font;
    font-size: 3rem;
    outline: none;
    padding: $spacing-md;
    text-align: center;
    width: 100%;

    &::-webkit-input-placeholder {
      color: #fff;
      opacity: 0.5;
    }
  }

  &__toolbar {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include breakpoint($breakpoint-sm) {
      flex-direction: row;
    }
  }

  &__color-picker {
    align-items: center;
    border-width: 0;
    border-bottom-width: 1px;
    border-color: $color-ultra-light-gray;
    border-style: solid;
    display: flex;
    height: 100%;
    padding: var(--spacing-md) 0;
    width: 100%;

    @include breakpoint($breakpoint-sm) {
      border-bottom-width: 0;
      border-right-width: 1px;
    }
  }

  &__buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: var(--spacing-md);

    & > * {
      width: 100px;

      &:not(:last-child) {
        margin-right: $spacing-sm;
      }
    }
  }
}

@keyframes composer-slide {
  0% {
    max-height: 0;
    transform: rotateX(25deg);
  }

  100% {
    max-height: 500px;
    transform: rotateX(0deg);
  }
}
